{% extends 'accounts/base.html' %}
{% load static %}
{% include 'accounts/Homepage.svg' %}

{% block head %}
<title>Log In</title>
{% endblock head %}

{% block cssfile %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'accounts/login.css' %}">
{% endblock cssfile %}

{% block content %}
  <div class = "head">
    <h1>Cashify</h1>
    <small>Make financial planning easier</small>
  </div>
  <div id="formdiv" class="d-flex flex-row p-2">
  <form class = "site-form" action = "{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <strong>{{ field.label_tag }}</strong><br>
        {{ field }}<br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
          <p style="color: red">{{ field.errors}}</p>
        {% endif %}
      </p>
    {% endfor %}
    {% if request.GET.next %}
      <input type = "hidden" name = "next" value = "{{ request.GET.next }}">
    {% endif %}
      <button type="submit">Log In</button>
      <p id="signuplink">Don't have an account?<a href =" {% url 'accounts:signup' %}">Sign Up here!</a></p>

  </form>
</div>
{% endblock content %}
