{% extends 'accounts/base.html' %}
{% load static %}

{% block head %}
<title>Sign Up</title>
{% endblock head %}

{% block cssfile %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'accounts/signup.css' %}">
{% endblock cssfile %}

{% block content %}
  <div class = "head">
    <h1>Sign up</h1>
  </div>
  <form class = "site-form" action = "{% url 'accounts:signup' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <strong>{{ field.label_tag }}</strong><br>
        {{ field }}<br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock content %}
