{% load static %}
<html>
<head>
	{% block head %}
	<title>My Project</title>
	{% endblock head %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="{% static 'main/base.js' %}"></script>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'main/base.css' %}">

	{% block css %}
	{% endblock css %}
</head>
<body>
	<div id="sidebar">
			<div class="toggle-btn" onclick = "toggleSidebar()">
				<span class = "bar1"></span>
				<span class = "bar2"></span>
				<span class = "bar3"></span>

			</div>
			
			<nav>

					
				<ul>
					<li>Hi {{ request.user.username }}!</li>
					<li><a href = "{% url 'expenses:dashboard' %}">Home</a></li>
					<li><a href = "{% url 'expenses:create' %}">Add New Expense</a></li>
					<li><a href = "{% url 'expenses:labels' %}">Labels</a></li>
					<li>
						<form class = "logout-link" action = "{% url 'accounts:logout' %}" method = "POST">
							{% csrf_token %}
							<button type = "submit">Logout</button>
						</form>
					</li>

				</ul>
			</nav>
		</div>
<div id = 'mainbody'>
	{% block content %}
	{% endblock content %}
</div>
</body>
</html>