{% extends 'main/base.html' %}
{% load static %}
{% block head %}
	{% if user.is_authenticated %}
		<title>My Dashboard</title>
	{% else %}
		<script type = "text/javascript">
		window.location = "{% url 'login' %}"
		</script>
	{% endif %}
{% endblock head %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'main/Category.css' %}">

{% endblock css %}
{% block content %}
	<div class = "main">
		<div class = "jumbotron text-center">
			<h1>Your Labels</h1>
		</div>
		<div class = "main-body">
		<div class = "label-display">
		{% if category_list %}
			{% for category in category_list %}	
				<ul>
					<li><a href = "{% url 'expenses:labelview' title=category %}">{{ category }}</a></li>
				</ul>
			
			{% endfor %}
		{% else %}
			<p>No labels have been added yet.</p>
		{% endif %}
		</div>
		<a class = "btn btn-success"  href = "{% url 'expenses:addlabel' %} " role = "button">Add New Label</a>
	</div>
	</div>
{% endblock content %}

