{% extends 'main/base.html' %}
{% load static %}
{% block head %}
	{% if user.is_authenticated %}
		<title>My Dashboard</title>
	{% else %}
		<script type = "text/javascript">
		window.location = "{% url 'login' %}"
		</script>
	{% endif %}
{% endblock head %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">

{% endblock css %}
{% block content %}
<p>You are viewing the details of {{ expense.title }} expense</p>
{% endblock content %}
