{% extends 'main/base.html' %}
{% load static %}
{% block head %}
	{% if user.is_authenticated %}
		<title>My Dashboard</title>
	{% else %}
		<script type = "text/javascript">
		window.location = "{% url 'login' %}"
		</script>
	{% endif %}
{% endblock head %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">

{% endblock css %}
{% block content %}
	<div class = "main">
		<div class = "jumbotron text-center">
			<h1>Your Dashboard</h1>
		</div>

		{% if expenses_list %}
			<table class = "table table-striped table-hover ">
				<tr>
					<th>Title</th>
					<th>Amount</th>
					<th>Date</th>
					<th>Label</th>
				</tr>
			{% for expense in expenses_list %}
				<tr>
					<td><a href="">{{ expense.title }}</a></td>
					<td id = {% if expense.amount > 0 %} "positive" {% else %} "negative" {% endif %}>{{expense.amount|stringformat:"+d"}}</td>
					<td>{{ expense.date.date }}</td>
					<td>{{ expense.category }}</td>
				</tr>
			{% endfor %}
			</table>

		{% else %}
			<p>No expenses have been added yet.</p>
		{% endif %}
	</div>
{% endblock content %}

