{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<title>Add New Category</title>
{% endblock head %}

{% block css %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'main/NewExpense.css' %}">
{% endblock css %}

{% block content %}
<body>
 <div class = "jumbotron">
	<h1>Add New Label</h1>
</div>
<form class = "site-form" action = "{% url 'expenses:addlabel' %}" method = "POST">
	{% csrf_token %}
	{% for field in form %}
      <div class = "form-group">
        <strong>{{ field.label_tag }}</strong>
        {{ field }}
      </div>
    {% endfor %}
	<input class = "btn btn-success" type = "submit" value = "Add New Label">
</form>
</body>
{% endblock content %}