* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	left: -200px;
	background: #258A48;
	transition: 0.4s;

}
#sidebar #profile{

	height: 185px;
	padding: 30px 20px;
}
#sidebar ul li{
	list-style: none;
	color: white;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#sidebar.clicked{
	left: 0px;
	z-index: 1;
	box-shadow: 2px 0px 5px gray;
}

#sidebar .toggle-btn
{
	position: absolute;
	left: 230px;
	top: 41px;
}

#sidebar .toggle-btn span{
	display: block;
	width: 30px;
	height: 5px;
	background: #258A48;
	margin: 3px 0px;
	transition: 0.4s;
	cursor: pointer;
}
.change .bar1 {
	transform: translate(0px,11px) rotate(135deg) ;
  }
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
	transform: translate(0px,-5px) rotate(-135deg) ;
}

#mainbody
{
	transition: 0.4s;
}
#mainbody p{
	position: relative;
	text-align: center;
}
#mainbody.clicked{
	margin-left: 200px;

}

hr{
	color: white;
}

#profile img{
	height: 50px;
	width: 50px;
	float: left;
}
#profile 
{
	display: inline;
}
nav button{
	background: none;
	color: white;
	cursor: pointer;
	border: 0;
	
}

a, a:hover, a:visited{
	text-decoration: none;
	color: white;
}

.logout-link{
	left: 0;
}