#header{
	background-color: white;
	/* color: white; */
	border-radius: 0;
	border-bottom: 1px solid #258A48;
	height: 100px;
	/* vertical-align: top; */
}


#header h1{
	position: relative;
	left: 50px;
	top: -30px;
}
form {
	position: relative;
	left: 10px;
}
/* .jumbotron{
	position: relative;
	text-align: center;
} */