html
{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
	background: url(/static/images/Homepage.svg) no-repeat right;
	background-size: auto;
	width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
	overflow-x: hidden; 
	font-size: 1.1vw
}

input {
	border-radius: 3em;
	border: 0.5px solid gray;
	width: 25em;
	height: 2em;
	padding-left: 0.5em;
}

.head {
	position: relative;
	left: 15.5vw;
	top: 10vw;
	font-size: 1.25vw;
}
.head h1{
	color: #40D975;
	font-weight: 700;
	font-size: 2.5vw;
}
.head small{
	color: #707070;
}
#formdiv {
	position: relative;
	left: 15vw;
	top: 10vw;
;
}

#formdiv button {
	border: none;
	background-color: #4CAF50;
	border-radius: 5px;
	color: white;	
	transition: 0.5s;
	padding:  0 0.5vw;

}

#formdiv button:hover{
	background-color: green;
}

#signuplink {
	position: relative;
	left: 5em;
}
a, a:hover, a:active
{
	text-decoration: none;
	color: #4CAF50;
}
@media only screen and (max-width: 1024px) {
	body{
		width: 100vw;
		height: 100vh;
		background: none;
		font-size: 3vw;
		position: absolute;
		left: 0;
		top: 0;
	}
	.head{
		position: relative;
		left: 0;		
		text-align: center;
		font-size: 5vw;
	}
	.head h1{
		font-size: 10vw;
	}
	}