body {
	background: url(/static/images/Homepage.svg) no-repeat right;
}

input {
	border-radius: 3em;
	border: 0.5px solid gray;
	width: 25em;
	height: 2em;
	padding-left: 0.5em;
}

form {
	margin-left:30px;
}

li {
	list-style-type: none;
	position: relative;
	left: -2em;
}
.head h1{
	position: relative;
	left: 8.5em;
	top: 2em;
	font-weight: 700;
	color: #40D975;
	
}
.site-form{
	position: relative;
	left: 20em;
	top: 5em;
}
.site-form button {
	border: none;
	background-color: #4CAF50;
	border-radius: 5px;
	color: white;	
	transition: 0.5s;

}

.site-form button:hover{
	background-color: green;
}

a, a:hover, a:active
{
	text-decoration: none;
	color: #4CAF50;
}